body {
  background-color: fffff2; //Offwhite
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
}
h1 {
  color: black;
}
p {
  color: black;
}

a:link{
  color: black;
  text-decoration: none;
}

a:visited{
  color: black;
}

a:hover{
  /* text-decoration: underline; */
}

.header {
  display: block;
  padding-top: 10px;
  text-align: center;
  font-size: 24pt;
  text-decoration: none;
}

.parent_navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a{
  display: inline-block; /*Stack links*/
  text-decoration: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 14pt
}

/*
.topnav-right a {
  display: block;
  text-align: right;
  text-decoration: none;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 0px;
  font-weight: bold;
  font-size: 14pt
} */

 .divID {
   background-image: url(../images/pic1.jpeg);
   background-repeat: no-repeat;
   height: 600px;
   width: 100%;
   background-size: 500px;
   background-position: right;
   padding-bottom: 100px;
   padding-right: 200px;
   flex: 1;
   /* right: 100px; */
}

.landscapeID {
  background-image: url(../images/landscape/eastonriver_l.jpeg);
  background-repeat: no-repeat;
  height: 600px;
  width: auto;
  background-size: 600px;
  background-position: center;
  min-width: 100%;
  /* min-width: 100%; */
  /* max-width: 100%; */
  /* padding-bottom: 100px; */
  /* padding-right: 200px; */
  /* flex: 1; */
  /* right: 100px; */
}

.portraitID {
  background-image: url(../images/landscape/eastonriver_l.jpeg);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  background-size: 350px;
  background-position: center;
  /* padding-bottom: 100px; */
  /* padding-left: 800px; */
  flex: 1;
  /* right: 100px; */
}

.projectBlock{
  display: block;
  text-align: center;
}

.outerProjectBlock {
  display : flex;
  align-items : center;
  margin-bottom: 0;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.innerProjectBlock {
  vertical-align: middle;
  /* border: 1px solid black; */
  padding-left: 100px;
  margin-bottom: 0;
}

#flex_wrapper{
  display: flex;
  align-items: center;
}

#about_text{
  flex: 0 0 45%;
  /* padding-right: 200px; */
  text-align: right;
  padding-bottom: 400px;
}
